body {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3em 1fr;
	grid-template-areas:
		"header alarm"
		"container alarm";
	background-color: #eee;
	color: #004;
	font-size: 1.5em;
	margin: 0;
	overflow-y: hidden;
}

h1 {
	margin: 0;
}

.align-center {
	display: flex;
	align-items: center;
}

section#header {
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.5em;
}

.header_logo {
	height: 55%;
    padding-right: 0.5em;
}

section#container {
	grid-area: container;
	display: grid;
	grid-template-rows: 4em 1fr;
	height: calc(100vh - 3em - 1em);
	margin: 0.5em 2em;
}

section#alarm {
	height: calc(100vh - 4em);
	display: grid;
	grid-template-rows: 4em repeat(2, 8em);
	justify-content: center;
	padding: 2em 1em;
	background: #004;
	color: #eee;
}

.container_tabs {
	display: flex;
	flex-direction: row;
	margin: 1em 0;
}

.container_tabs_el {
	/* background-color: #dde; */
	display: flex;
	align-items: center;
	width: 25%;
	font-size: 0.8em;
	border-bottom: 1px solid #ccd;
	margin: 0 0.5em;
	padding: 0 0.5em;

}
.container_tabs_el:hover {
	background-color: #ccd;
	cursor: pointer;
}

.container_tabs_icon {
	padding-right: 0.5em;
}



.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 1em;
	overflow-y: auto;
}

.content--hidden {
	display: none;
}


.measure {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	font-size: 1em;
}
.measure:last-of-type {
    margin-bottom: 0;
}

.measure > label {
	font-size: 18px;
}
.measure_value {
	font-size: 1.5em;
	padding-left: 1.5rem;
}
.measure_value > .measure_value_units {
	font-size: 20px;
}

.measure_comp {
	font-size: 16px;
	padding-left: 1.5rem;
}

.measure--list {
	font-size: 0.7em;
}
.measure--list ul {
	margin: 0;
	padding-left: 1.5em;
}
.measure--list li {
	margin: 0.5em 0;
}
.measure--list div {
	padding-left: 0
}


.configuration {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	padding-right: 2em;
	font-size: 1em;
}
.configuration:last-of-type {
    margin-bottom: 0;
}

.configuration > label {
	font-size: 18px;
}

.configuration_current {
	font-size: 0.5em;
	padding-left: 1.5rem;
}
.configuration_current_value {
	font-size: 2em;
	padding: 0 0.2em 0 0.5em;
}

.configuration_edit {
	display: flex;
	align-items: center;
	width: min(20em, 50%);
	font-size: 0.5em;
	padding-left: 1.5rem;
}

.configuration_edit > button {
	margin-left: auto;
	padding: 0.5em 1em;
	background: #004;
	color: #eee;
	border: 1px solid #ccd;
	border-radius: 10px;
}
.configuration_edit > button:hover {
	background: #ccd;
	color: #004;
	cursor: pointer;
}

.configuration_edit--input > input {
	margin-right: 0.5em;
}

.configuration_edit--select > select {
	margin: 0.5em 0;
	padding: 0.2em 1em;
}

.configuration_comp {
	font-size: 0.5em;
	padding-left: 1.5rem;
}







.content::-webkit-scrollbar {
	width: 7px;
}

.content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 1em;
}

.content::-webkit-scrollbar-thumb {
	background-color: #004;
	outline: 1px solid #004;
	border-radius: 1em;
	width: 50%;
}


/* 
.measure_block {
	padding: 0.25em 1em;
}

.measure_current {
	display: flex;
	align-items: center;
}
.measure_current_value {
	font-size: 1.2em;
	color: #00a;
	padding: 0 0.25em 0 0.5em;
}


.measure_means {
	display: flex;
	flex-direction: column;
}

.measure_means > ul {
	margin-top: 0.5em;
}

button {
	background: #fee;
	padding: 1em;
	font-size: 1.25em;
	border: 2px solid #d77;
	border-radius: 1em;
}

div.alarm-led {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 1em double #fff;
	margin: 1em;
}

div.alarm-led-on {
	background: #f00
}

div.alarm-led-off {
	background: none
}

a {
	text-decoration: none;
} */